.remove-btn{
  margin-right: 0.5rem;
  size: 20px;
}

.fade-enter{
  opacity: 0.01;

}

.fafe-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;

}


.fade-exit{
  opacity: 1;
}

.fafe-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;

}
